<div id="delete_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <h4 class="modal-title">Delete Employee</h4>
            </div>
            <form method="post" action="">
            {% csrf_token %}
                <div class="modal-body card-box">
                    <p>Are you sure want to delete this?</p>
                    <div class="m-t-20"> <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                        <input class="form-control" value="edit" type="hidden" id="employee_del_id" name="employee_del_id">
                        <input class="form-control" value="del" type="hidden" id="employee_action" name="dept_action">

                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
