{% extends "./../base.html" %}
{% load staticfiles %}

{% block main_content %}
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Edit Profile</h4>
            </div>
        </div>
        {%if profile%}
        <form method="POST" action="/employee/{{action}}/{{profile.id}}/">
        {%endif%}
        {%if not profile%}
        <form method="POST" action="/employee/{{action}}/1/">
        {%endif%}
            {% csrf_token %}
            <div class="card-box">
                <h3 class="card-title">BASIC INFORMATION</h3>
                <div class="row">
                    <div class="col-md-12">
                        <!--<div class="profile-img-wrap">
                            <img class="inline-block" src="{% static 'assets/img/user.jpg' %}" alt="user">
                            <div class="fileupload btn btn-default">
                                <span class="btn-text">edit</span>
                                <input class="upload" type="file">
                            </div>
                        </div>-->
                        <div class="profile-basica">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group form-focus">
                                        <label class="control-label">TITLE</label>
                                        <input type="text" class="form-control floating" value="{{profile.title}}" name="title"/>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group form-focus">
                                        <label class="control-label">SURNAME</label>
                                        <input type="text" class="form-control floating" value="{{profile.surname}}" name="surname"/>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group form-focus">
                                        <label class="control-label">OTHER NAME</label>
                                        <input type="text" class="form-control floating" value="{{profile.othername}}" name="other_name"/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-focus">
                                        <label class="control-label">MAINDEN NAME (WHERE APPLICABLE)</label>
                                        <input type="text" class="form-control floating" value="{{profile.maidenname}}" name="maiden_name"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus">
                                        <label class="control-label">STATE OF ORIGIN</label>
                                        <!--
                                        <input class="form-control floating" type="text" value="{{profile.state}}" name="state_origin">
                                        -->
                                        <select class="form-control floating" name="state_origin" id="ostate">
                                          <option selected="selected">Select item...</option>
                                          <option {% if profile.state == 'Abia' %}selected{% endif %} value='Abia'>Abia</option>
                                          <option {% if profile.state == 'Adamawa' %}selected{% endif %} value='Adamawa'>Adamawa</option>
                                          <option {% if profile.state == 'AkwaIbom' %}selected{% endif %} value='AkwaIbom'>AkwaIbom</option>
                                          <option {% if profile.state == 'Anambra' %}selected{% endif %} value='Anambra'>Anambra</option>
                                          <option {% if profile.state == 'Bauchi' %}selected{% endif %} value='Bauchi'>Bauchi</option>
                                          <option {% if profile.state == 'Bayelsa' %}selected{% endif %} value='Bayelsa'>Bayelsa</option>
                                          <option {% if profile.state == 'Benue' %}selected{% endif %} value='Benue'>Benue</option>
                                          <option {% if profile.state == 'Borno' %}selected{% endif %} value='Borno'>Borno</option>
                                          <option {% if profile.state == 'CrossRivers' %}selected{% endif %} value='CrossRivers'>CrossRivers</option>
                                          <option {% if profile.state == 'Delta' %}selected{% endif %} value='Delta'>Delta</option>
                                          <option {% if profile.state == 'Ebonyi' %}selected{% endif %} value='Ebonyi'>Ebonyi</option>
                                          <option {% if profile.state == 'Edo' %}selected{% endif %} value='Edo'>Edo</option>
                                          <option {% if profile.state == 'Ekiti' %}selected{% endif %} value='Ekiti'>Ekiti</option>
                                          <option {% if profile.state == 'Enugu' %}selected{% endif %} value='Enugu'>Enugu</option>
                                          <option {% if profile.state == 'Gombe' %}selected{% endif %} value='Gombe'>Gombe</option>
                                          <option {% if profile.state == 'Imo' %}selected{% endif %} value='Imo'>Imo</option>
                                          <option {% if profile.state == 'Jigawa' %}selected{% endif %} value='Jigawa'>Jigawa</option>
                                          <option {% if profile.state == 'Kaduna' %}selected{% endif %} value='Kaduna'>Kaduna</option>
                                          <option {% if profile.state == 'Kano' %}selected{% endif %} value='Kano'>Kano</option>
                                          <option {% if profile.state == 'Katsina' %}selected{% endif %} value='Katsina'>Katsina</option>
                                          <option {% if profile.state == 'Kebbi' %}selected{% endif %} value='Kebbi'>Kebbi</option>
                                          <option {% if profile.state == 'Kogi' %}selected{% endif %} value='Kogi'>Kogi</option>
                                          <option {% if profile.state == 'Kwara' %}selected{% endif %} value='Kwara'>Kwara</option>
                                          <option {% if profile.state == 'Lagos' %}selected{% endif %} value='Lagos'>Lagos</option>
                                          <option {% if profile.state == 'Nasarawa' %}selected{% endif %} value='Nasarawa'>Nasarawa</option>
                                          <option {% if profile.state == 'Niger' %}selected{% endif %} value='Niger'>Niger</option>
                                          <option {% if profile.state == 'Ogun' %}selected{% endif %} value='Ogun'>Ogun</option>
                                          <option {% if profile.state == 'Ondo' %}selected{% endif %} value='Ondo'>Ondo</option>
                                          <option {% if profile.state == 'Osun' %}selected{% endif %} value='Osun'>Osun</option>
                                          <option {% if profile.state == 'Oyo' %}selected{% endif %} value='Oyo'>Oyo</option>
                                          <option {% if profile.state == 'Plateau' %}selected{% endif %} value='Plateau'>Plateau</option>
                                          <option {% if profile.state == 'Rivers' %}selected{% endif %} value='Rivers'>Rivers</option>
                                          <option {% if profile.state == 'Sokoto' %}selected{% endif %} value='Sokoto'>Sokoto</option>
                                          <option {% if profile.state == 'Taraba' %}selected{% endif %} value='Taraba'>Taraba</option>
                                          <option {% if profile.state == 'Yobe' %}selected{% endif %} value='Yobe'>Yobe</option>
                                          <option {% if profile.state == 'Zamfara' %}selected{% endif %} value='Zamfara'>Zamafara</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus">
                                        <label class="control-label">HOME TOWN/LGA</label>
                                        <!--
                                        <input class="form-control floating" type="text" value="{{profile.lga}}" name="lga">
                                        -->
                                        <select class="form-control floating" name="lga" id="lga">
                                          <option selected="selected">Select item...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus">
                                        <label class="control-label">DATE OF BIRTH</label>
                                        <div class="cal-icon"><input class="form-control floating datetimepicker" type="text" value="{{profile.date_of_birth}}" name="date_of_birth"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus">
                                        <label class="control-label">PLACE OF BIRTH</label>
                                        <input class="form-control floating" type="text" value="{{profile.homeplace}}" name="place_of_birth">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus select-focus">
                                        <label class="control-label">MARITAL STATUS</label>
                                        <select class="select form-control floating" id="status" onchange="spouse()" name="marital_status">
                                            <option {% if profile.status == 'SINGLE' %}selected{% endif %} value="SINGLE">Single</option>
                                            <option {% if profile.status == 'MARRIED' %}selected{% endif %} value="MARRIED">Married</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus select-focus">
                                        <label class="control-label">SEX</label>
                                        <select class="select form-control floating" name="gender">
                                            <option value="">Select Gendar</option>
                                            <option {% if profile.gender == 'M' %}selected{% endif %} value="M">Male</option>
                                            <option {% if profile.gender == 'F' %}selected{% endif %} value="F">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 hidden" id="spouse">
                                    <div class="form-group form-focus">
                                        <label class="control-label">NAME OF SPOUSE</label>
                                        <input class="form-control floating" type="text" value="{{profile.spouse_name}}" id="spouse_field" name="spouse_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus select-focus">
                                        <label class="control-label">Department</label>
                                        <select class="select form-control floating" name="department">
                                            <option value="">Select Department</option>
                                            {% for department in departments %}
                                            <option value="{{department}}" {% if department.name == profile.department %}selected{% endif %} >{{department}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus select-focus">
                                        <label class="control-label">Staff Quaters</label>
                                        <select class="select form-control floating" name="occupant">
                                            <option value="False" {% if profile.occupant == False %}selected{% endif %} >Not Quatered</option>
                                            <option value="True" {% if profile.occupant == True %}selected{% endif %} >Quatered</option>
                                        </select>
                                    </div>
                                </div>
                                <!--end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-box" >
                <h3 class="card-title">NEXT OF KINS</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-focus">
                            <label class="control-label">NAME</label>
                            <input type="text" class="form-control floating" name="nok_name_1" value="{{profile.nok_name_1}}"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-focus">
                            <label class="control-label">ADDRESS</label>
                            <input type="text" class="form-control floating" name="nok_address_1" value="{{profile.nok_address_1}}"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-focus">
                            <label class="control-label">RELATIONSHIP</label>
                            <input type="text" class="form-control floating" name="nok_relationship_1" value="{{profile.nok_relationship_1}}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-focus">
                            <label class="control-label">NAME</label>
                            <input type="text" class="form-control floating" name="nok_name_2" value="{{profile.nok_name_2}}"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-focus">
                            <label class="control-label">ADDRESS</label>
                            <input type="text" class="form-control floating" name="nok_address_2" value="{{profile.nok_address_2}}"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-focus">
                            <label class="control-label">RELATIONSHIP</label>
                            <input type="text" class="form-control floating" name="nok_relationship_2" value="{{profile.nok_relationship_2}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-box">
                <h3 class="card-title">EDUCATIONAL INSTITUTIONS ATTENDED</h3>
                {% include "./partial/educational_instituttions_attended.html" %}
            </div>
            <div class="card-box">
                <h3 class="card-title">ACADEMIC AND PROFESSIONAL QUALIFICATION</h3>
                {% include "./partial/academicProfessionalQualification.html" %} 
            </div>
            <div class="card-box">
                <h3 class="card-title"></h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-focus">
                            <label class="control-label">DATE OF 1st APPOINTMENT WITH FED. AIRPORTS AUTHORITY OF NIGERIA</label>
                            <div class="cal-icon"><input class="form-control floating datetimepicker" type="text" value="{{profile.date_of_first_Appt}}" name="date_first_appt"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">DESIGNATION</label>
                            <input type="text" class="form-control floating" value="{{profile.designation}}" name="designation"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">SALARY GRADE LEVEL WITH STEPS</label>
                            <input type="text" class="form-control floating" value="{{profile.gl}}" name="salary_grade_level"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">DATE OF CONFIRMATION</label>
                            <div class="cal-icon"><input class="form-control floating datetimepicker" type="text" value="{{profile.date_of_conf}}" name="date_of_confirmation"></div>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">DESIGNATION</label>
                            <input type="text" class="form-control floating" name="rank" value="{{profile.pre_rank}}"/>
                        </div>
                    </div>
                    -->
                    <!--
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">GRADE LEVEL</label>
                            <input type="text" class="form-control floating" name="grade_level" value="{{profile.pre_gl}}"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">PRESENT SALARY</label>
                            <input type="text" class="form-control floating" name="present_salary" value="{{profile.pre_salary}}"/>
                        </div>
                    </div>
                    -->
                    <!--
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">SALARY GRADE LEVEL WITH STEPS</label>
                            <input type="text" class="form-control floating" name="present_level" />
                        </div>
                    </div>
                    -->
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">DATE OF LAST PROMOTION</label>
                            <div class="cal-icon"><input class="form-control floating datetimepicker" type="text" value="{{profile.date_of_last_promotion}}" name="last_promotion"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group form-focus">
                            <label class="control-label">STAFF NO</label>
                            <input type="text" class="form-control floating" name="staff_no" value="{{profile.staff_no}}"/>
                        </div>
                    </div><!--
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">Account NO</label>
                            <input type="text" class="form-control floating" name="account_num" value="{{profile.account_num}}"/>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="card-box">
                <h3 class="card-title">IF YOUR SERVICE IS TRANSFERRED TO FEDERAL AUTHORITY OF NIGERIA</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">NAME OF EMPLOYER</label>
                            <input type="text" class="form-control floating" name="name_of_employer" value="{{profile.name_employer}}"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <label class="control-label">DATE OF TRANSFER</label>
                            <div class="cal-icon"><input class="form-control floating datetimepicker" type="text" value="{{profile.date_of_transfer}}" name="date_of_transfer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center m-t-20">
                <button class="btn btn-primary btn-lg">Save &amp; update</button>
            </div>
        </form>
    </div>
    {% load staticfiles %}
    <style>
        .hidden{
            display: none;
        }
    </style>

    <script type="text/javascript" src="{% static "assets/js/jquery-3.2.1.min.js" %}"></script>
    <script>
        function spouse(){
            $("#spouse").removeClass("hidden");
            if ($("#status").val()=="Married"){
                $("#spouse").removeClass("hidden");
            }else{
                $("#spouse").addClass("hidden");
                $("#spouse_field").val("");
            }
        }

    </script>


    <script>
        var Abia = ['Select item...', 'Aba North', 'Aba South', 'Arochukwu', 'Bende', 'Ikwuano', 'Isiala Ngwa North', 'Isiala Ngwa South', 'Isuikwuato', 'Obi Ngwa', 'Ohafia', 'Osisioma', 'Ugwunagbo', 'Ukwa East', 'Ukwa West', 'Umuahia North', 'muahia South', 'Umu Nneochi'];
        var Adamawa = ['Select item...', 'Demsa', 'Fufure', 'Ganye', 'Gayuk', 'Gombi', 'Grie', 'Hong', 'Jada', 'Larmurde', 'Madagali', 'Maiha', 'Mayo Belwa', 'Michika', 'Mubi North', 'Mubi South', 'Numan', 'Shelleng', 'Song', 'Toungo', 'Yola North', 'Yola South'];
        var AkwaIbom = ['Select item...', 'Abak', 'Eastern Obolo', 'Eket', 'Esit Eket', 'Essien Udim', 'Etim Ekpo', 'Etinan', 'Ibeno', 'Ibesikpo Asutan', 'Ibiono-Ibom', 'Ika', 'Ikono', 'Ikot Abasi', 'Ikot Ekpene', 'Ini', 'Itu', 'Mbo', 'Mkpat-Enin', 'Nsit-Atai', 'Nsit-Ibom', 'Nsit-Ubium', 'Obot Akara', 'Okobo', 'Onna', 'Oron', 'Oruk Anam', 'Udung-Uko', 'Ukanafun', 'Uruan', 'Urue-Offong Oruko', 'Uyo'];
        var Anambra = ['Select item...', 'Aguata', 'Anambra East', 'Anambra West', 'Anaocha', 'Awka North', 'Awka South', 'Ayamelum', 'Dunukofia', 'Ekwusigo', 'Idemili North', 'Idemili South', 'Ihiala', 'Njikoka', 'Nnewi North', 'Nnewi South', 'Ogbaru', 'Onitsha North', 'Onitsha South', 'Orumba North', 'Orumba South', 'Oyi'];
        var Bauchi = ['Select item...', 'Alkaleri', 'Bauchi', 'Bogoro', 'Damban', 'Darazo', 'Dass', 'Gamawa', 'Ganjuwa', 'Giade', 'Itas-Gadau', 'Jama are', 'Katagum', 'Kirfi', 'Misau', 'Ningi', 'Shira', 'Tafawa Balewa', ' Toro', ' Warji', ' Zaki'];
        var Bayelsa = ['Select item...', 'Brass', 'Ekeremor', 'Kolokuma Opokuma', 'Nembe', 'Ogbia', 'Sagbama', 'Southern Ijaw', 'Yenagoa'];
        var Benue = ['Select item...', 'Agatu', 'Apa', 'Ado', 'Buruku', 'Gboko', 'Guma', 'Gwer East', 'Gwer West', 'Katsina-Ala', 'Konshisha', 'Kwande', 'Logo', 'Makurdi', 'Obi', 'Ogbadibo', 'Ohimini', 'Oju', 'Okpokwu', 'Oturkpo', 'Tarka', 'Ukum', 'Ushongo', 'Vandeikya'];
        var Borno = ['Select item...', 'Abadam', 'Askira-Uba', 'Bama', 'Bayo', 'Biu', 'Chibok', 'Damboa', 'Dikwa', 'Gubio', 'Guzamala', 'Gwoza', 'Hawul', 'Jere', 'Kaga', 'Kala-Balge', 'Konduga', 'Kukawa', 'Kwaya Kusar', 'Mafa', 'Magumeri', 'Maiduguri', 'Marte', 'Mobbar', 'Monguno', 'Ngala', 'Nganzai', 'Shani'];
        var CrossRiver = ['Select item...', 'Abi', 'Akamkpa', 'Akpabuyo', 'Bakassi', 'Bekwarra', 'Biase', 'Boki', 'Calabar Municipal', 'Calabar South', 'Etung', 'Ikom', 'Obanliku', 'Obubra', 'Obudu', 'Odukpani', 'Ogoja', 'Yakuur', 'Yala'];
        var Delta = ['Select item...', 'Aniocha North', 'Aniocha South', 'Bomadi', 'Burutu', 'Ethiope East', 'Ethiope West', 'Ika North East', 'Ika South', 'Isoko North', 'Isoko South', 'Ndokwa East', 'Ndokwa West', 'Okpe', 'Oshimili North', 'Oshimili South', 'Patani', 'Sapele', 'Udu', 'Ughelli North', 'Ughelli South', 'Ukwuani', 'Uvwie', 'Warri North', 'Warri South', 'Warri South West'];
        var Ebonyi = ['Select item...', 'Abakaliki', 'Afikpo North', 'Afikpo South', 'Ebonyi', 'Ezza North', 'Ezza South', 'Ikwo', 'Ishielu', 'Ivo', 'Izzi', 'Ohaozara', 'Ohaukwu', 'Onicha'];
        var Edo = ['Select item...', 'Akoko-Edo', 'Egor', 'Esan Central', 'Esan North-East', 'Esan South-East', 'Esan West', 'Etsako Central', 'Etsako East', 'Etsako West', 'Igueben', 'Ikpoba Okha', 'Orhionmwon', 'Oredo', 'Ovia North-East', 'Ovia South-West', 'Owan East', 'Owan West', 'Uhunmwonde'];
        var Ekiti = ['Select item...', 'Ado Ekiti', 'Efon', 'Ekiti East', 'Ekiti South-West', 'Ekiti West', 'Emure', 'Gbonyin', 'Ido Osi', 'Ijero', 'Ikere', 'Ikole', 'Ilejemeje', 'Irepodun-Ifelodun', 'Ise-Orun', 'Moba', 'Oye'];
        var Enugu = ['Select item...', 'Aninri', 'Awgu', 'Enugu East', 'Enugu North', 'Enugu South', 'Ezeagu', 'Igbo Etiti', 'Igbo Eze North', 'Igbo Eze South', 'Isi Uzo', 'Nkanu East', 'Nkanu West', 'Nsukka', 'Oji River', 'Udenu', 'Udi', 'Uzo Uwani'];
        var FCT = ['Select item...', 'Abaji', 'Bwari', 'Gwagwalada', 'Kuje', 'Kwali', 'Municipal Area Council'];
        var Gombe = ['Select item...', 'Akko', 'Balanga', 'Billiri', 'Dukku', 'Funakaye', 'Gombe', 'Kaltungo', 'Kwami', 'Nafada', 'Shongom', 'Yamaltu-Deba'];
        var Imo = ['Select item...', 'Aboh Mbaise', 'Ahiazu Mbaise', 'Ehime Mbano', 'Ezinihitte', 'Ideato North', 'Ideato South', 'Ihitte-Uboma', 'Ikeduru', 'Isiala Mbano', 'Isu', 'Mbaitoli', 'Ngor Okpala', 'Njaba', 'Nkwerre', 'Nwangele', 'Obowo', 'Oguta', 'Ohaji-Egbema', 'Okigwe', 'Orlu', 'Orsu', 'Oru East', 'Oru West', 'Owerri Municipal', 'Owerri North', 'Owerri West', 'Unuimo'];
        var Jigawa = ['Select item...', 'Auyo', 'Babura', 'Biriniwa', 'Birnin Kudu', 'Buji', 'Dutse', 'Gagarawa', 'Garki', 'Gumel', 'Guri', 'Gwaram', 'Gwiwa', 'Hadejia', 'Jahun', 'Kafin Hausa', 'Kazaure', 'Kiri Kasama', 'Kiyawa', 'Kaugama', 'Maigatari', 'Malam Madori', 'Miga', 'Ringim', 'Roni', 'Sule Tankarkar', 'Taura', 'Yankwashi'];
        var Kaduna = ['Select item...', 'Birnin Gwari', 'Chikun', 'Giwa', 'Igabi', 'Ikara', 'Jaba', 'Jema a', 'Kachia', 'Kaduna North', 'Kaduna South', 'Kagarko', 'Kajuru', 'Kaura', 'Kauru', 'Kubau', 'Kudan', 'Lere', 'Makarfi', 'Sabon Gari', 'Sanga', 'Soba', 'Zangon Kataf', 'Zaria'];
        var Kano = ['Select item...', 'Ajingi', 'Albasu', 'Bagwai', 'Bebeji', 'Bichi', 'Bunkure', 'Dala', 'Dambatta', 'Dawakin Kudu', 'Dawakin Tofa', 'Doguwa', 'Fagge', 'Gabasawa', 'Garko', 'Garun Mallam', 'Gaya', 'Gezawa', 'Gwale', 'Gwarzo', 'Kabo', 'Kano Municipal', 'Karaye', 'Kibiya', 'Kiru', 'Kumbotso', 'Kunchi', 'Kura', 'Madobi', 'Makoda', 'Minjibir', 'Nasarawa', 'Rano', 'Rimin Gado', 'Rogo', 'Shanono', 'Sumaila', 'Takai', 'Tarauni', 'Tofa', 'Tsanyawa', 'Tudun Wada', 'Ungogo', 'Warawa', 'Wudil'];
        var Katsina = ['Select item...', 'Bakori', 'Batagarawa', 'Batsari', 'Baure', 'Bindawa', 'Charanchi', 'Dandume', 'Danja', 'Dan Musa', 'Daura', 'Dutsi', 'Dutsin Ma', 'Faskari', 'Funtua', 'Ingawa', 'Jibia', 'Kafur', 'Kaita', 'Kankara', 'Kankia', 'Katsina', 'Kurfi', 'Kusada', 'Mai Adua', 'Malumfashi', 'Mani', 'Mashi', 'Matazu', 'Musawa', 'Rimi', 'Sabuwa', 'Safana', 'Sandamu', 'Zango'];
        var Kebbi = ['Select item...', 'Aleiro', 'Arewa Dandi', 'Argungu', 'Augie', 'Bagudo', 'Birnin Kebbi', 'Bunza', 'Dandi', 'Fakai', 'Gwandu', 'Jega', 'Kalgo', 'Koko Besse', 'Maiyama', 'Ngaski', 'Sakaba', 'Shanga', 'Suru', 'Wasagu Danko', 'Yauri', 'Zuru'];
        var Kogi = ['Select item...', 'Adavi', 'Ajaokuta', 'Ankpa', 'Bassa', 'Dekina', 'Ibaji', 'Idah', 'Igalamela Odolu', 'Ijumu', 'Kabba Bunu', 'Kogi', 'Lokoja', 'Mopa Muro', 'Ofu', 'Ogori Magongo', 'Okehi', 'Okene', 'Olamaboro', 'Omala', 'Yagba East', 'Yagba West'];
        var Kwara = ['Select item...', 'Asa', 'Baruten', 'Edu', 'Ekiti', 'Ifelodun', 'Ilorin East', 'Ilorin South', 'Ilorin West', 'Irepodun', 'Isin', 'Kaiama', 'Moro', 'Offa', 'Oke Ero', 'Oyun', 'Pategi'];
        var Lagos = ['Select item...', 'Agege', 'Ajeromi-Ifelodun', 'Alimosho', 'Amuwo-Odofin', 'Apapa', 'Badagry', 'Epe', 'Eti Osa', 'Ibeju-Lekki', 'Ifako-Ijaiye', 'Ikeja', 'Ikorodu', 'Kosofe', 'Lagos Island', 'Lagos Mainland', 'Mushin', 'Ojo', 'Oshodi-Isolo', 'Shomolu', 'Surulere'];
        var Nassarawa = ['Select item...', 'Akwanga', 'Awe', 'Doma', 'Karu', 'Keana', 'Keffi', 'Kokona', 'Lafia', 'Nasarawa', 'Nasarawa Egon', 'Obi', 'Toto', 'Wamba'];
        var Niger = ['Select item...', 'Agaie', 'Agwara', 'Bida', 'Borgu', 'Bosso', 'Chanchaga', 'Edati', 'Gbako', 'Gurara', 'Katcha', 'Kontagora', 'Lapai', 'Lavun', 'Magama', 'Mariga', 'Mashegu', 'Mokwa', 'Moya', 'Paikoro', 'Rafi', 'Rijau', 'Shiroro', 'Suleja', 'Tafa', 'Wushishi'];
        var Ogun = ['Select item...', 'Abeokuta North', 'Abeokuta South', 'Ado-Odo Ota', 'Egbado North', 'Egbado South', 'Ewekoro', 'Ifo', 'Ijebu East', 'Ijebu North', 'Ijebu North East', 'Ijebu Ode', 'Ikenne', 'Imeko Afon', 'Ipokia', 'Obafemi Owode', 'Odeda', 'Odogbolu', 'Ogun Waterside', 'Remo North', 'Shagamu'];
        var Ondo = ['Select item...', 'Akoko North-East', 'Akoko North-West', 'Akoko South-West', 'Akoko South-East', 'Akure North', 'Akure South', 'Ese Odo', 'Idanre', 'Ifedore', 'Ilaje', 'Ile Oluji-Okeigbo', 'Irele', 'Odigbo', 'Okitipupa', 'Ondo East', 'Ondo West', 'Ose', 'Owo'];
        var Osun = ['Select item...', 'Atakunmosa East', 'Atakunmosa West', 'Aiyedaade', 'Aiyedire', 'Boluwaduro', 'Boripe', 'Ede North', 'Ede South', 'Ife Central', 'Ife East', 'Ife North', 'Ife South', 'Egbedore', 'Ejigbo', 'Ifedayo', 'Ifelodun', 'Ila', 'Ilesa East', 'Ilesa West', 'Irepodun', 'Irewole', 'Isokan', 'Iwo', 'Obokun', 'Odo Otin', 'Ola Oluwa', 'Olorunda', 'Oriade', 'Orolu', 'Osogbo'];
        var Oyo = ['Select item...', 'Afijio', 'Akinyele', 'Atiba', 'Atisbo', 'Egbeda', 'Ibadan North', 'Ibadan North-East', 'Ibadan North-West', 'Ibadan South-East', 'Ibadan South-West', 'Ibarapa Central', 'Ibarapa East', 'Ibarapa North', 'Ido', 'Irepo', 'Iseyin', 'Itesiwaju', 'Iwajowa', 'Kajola', 'Lagelu', 'Ogbomosho North', 'Ogbomosho South', 'Ogo Oluwa', 'Olorunsogo', 'Oluyole', 'Ona Ara', 'Orelope', 'Ori Ire', 'Oyo', 'Oyo East', 'Saki East', 'Saki West', 'Surulere'];
        var Plateau = ['Select item...', 'Bokkos', 'Barkin Ladi', 'Bassa', 'Jos East', 'Jos North', 'Jos South', 'Kanam', 'Kanke', 'Langtang South', 'Langtang North', 'Mangu', 'Mikang', 'Pankshin', 'Qua an Pan', 'Riyom', 'Shendam', 'Wase'];
        var Rivers = ['Select item...', 'Abua Odual', 'Ahoada East', 'Ahoada West', 'Akuku-Toru', 'Andoni', 'Asari-Toru', 'Bonny', 'Degema', 'Eleme', 'Emuoha', 'Etche', 'Gokana', 'Ikwerre', 'Khana', 'Obio Akpor', 'Ogba Egbema Ndoni', 'Ogu Bolo', 'Okrika', 'Omuma', 'Opobo Nkoro', 'Oyigbo', 'Port Harcourt', 'Tai'];
        var Sokoto = ['Select item...', 'Binji', 'Bodinga', 'Dange Shuni', 'Gada', 'Goronyo', 'Gudu', 'Gwadabawa', 'Illela', 'Isa', 'Kebbe', 'Kware', 'Rabah', 'Sabon Birni', 'Shagari', 'Silame', 'Sokoto North', 'Sokoto South', 'Tambuwal', 'Tangaza', 'Tureta', 'Wamako', 'Wurno', 'Yabo'];
        var Taraba = ['Select item...', 'Ardo Kola', 'Bali', 'Donga', 'Gashaka', 'Gassol', 'Ibi', 'Jalingo', 'Karim Lamido', 'Kumi', 'Lau', 'Sardauna', 'Takum', 'Ussa', 'Wukari', 'Yorro', 'Zing'];
        var Yobe = ['Select item...', 'Bade', 'Bursari', 'Damaturu', 'Fika', 'Fune', 'Geidam', 'Gujba', 'Gulani', 'Jakusko', 'Karasuwa', 'Machina', 'Nangere', 'Nguru', 'Potiskum', 'Tarmuwa', 'Yunusari', 'Yusufari'];
        var Zamfara = ['Select item...', 'Anka', 'Bakura', 'Birnin Magaji Kiyaw', 'Bukkuyum', 'Bungudu', 'Gummi', 'Gusau', 'Kaura Namoda', 'Maradun', 'Maru', 'Shinkafi', 'Talata Mafara', 'Chafe', 'Zurmi'];


jQuery(window).on('load',function() {

});

function add_lga(array){
    var option = '';
    var selected = '{{profile.lga}}';
    for(var i = 0; i < array.length; i++){
        if(selected == array[i]){
            option += '<option selected value="' + array[i] + '">' + array[i] + '</option>';
        }else{
            option += '<option value="' + array[i] + '">' + array[i] + '</option>';
        }
    }
    return option
}

    $("#ostate").change(function(){
            var id = $(this).val();
            var sid = eval(id);
            var l = add_lga(sid);
            $('#lga').empty()
            $('#lga').append(l);
            });

     console.log($("#ostate").val());
     if($("#ostate").val()!='Select item...'){
        var id = $("#ostate").val();
        var sid = eval(id);
        var l = add_lga(sid);
        $('#lga').empty()
        $('#lga').append(l);
     }

    </script>
{% endblock main_content %}
